# Ignore markdown and pdf files

*.pdf
*.md
!README.md

# Ignore large data files
files.txt

# Ignore temporary files
index.html
__pycache__/

# Ignore Kubernetes secrets
kubernetes/huggingface-secret.yaml
